.gmap{
	height: 850px; 
	width: 100%; 
	border-top: 3px solid rgb(34, 139, 34); 
	border-bottom: 3px solid rgb(34, 139, 34); 
}

.gmap:after {
	content: "";
	display: table;
	clear: both;
}

/* Elements included at top of page */
header {
	margin: 20px;
	padding-bottom: 45px;
}

.header-left{
	padding-top: 10px;
	float: left;
}

.header-right {
	float: right;
}

.header:after {
	content: "";
	display: table;
	clear: both;
}

/* Navigation bar at top of page */
.topnav {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;  
	font-weight: bold;
	font-size: 10px;
}

/* Navbar links */
.topnav a {
  float: left;
	display: block;
	color: rgba(34, 139, 34, 0.7);
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

.topnav a:hover {
	color: rgb(34, 139, 34);
	border-bottom: 2px solid rgb(34, 139, 34);

}

/* Active id to highlight the current page */
#active {
	color: rgb(34, 139, 34);
	border-bottom: 2px solid rgb(34, 139, 34);
}

.main {
	font-family: 'Open Sans', sans-serif;  
	font-size: 14px;
	color: rgb(34, 139, 34);
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}

/* Social media buttons */
.fa {
	padding: 10px;
	width: 14px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	position: relative;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

<<<<<<< HEAD
=======
h2 {
	font-family: 'Open Sans', sans-serif;  
	font-size: 16px;
	color: rgb(34, 139, 34);
	position: absolute;
	padding-left: 500px;
}

p {
	font-family: 'Open Sans', sans-serif;  
	font-size: 14px;
	color: rgb(34, 139, 34);
}

>>>>>>> 8d86b53dc88595607f0497597edf0edb95463d4f
/* Add styles to the form container */
.container {
	position: absolute;
	margin: 20px;
	padding: 16px;
	background-color: rgba (255, 255, 255, 0.8);
}

.center {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

<<<<<<< HEAD
.infoWindow {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: rgb(34, 139, 34);
}
=======

>>>>>>> 8d86b53dc88595607f0497597edf0edb95463d4f
